* {
  box-sizing: border-box;
}

:root {
  --primary-color: #171100;
  --secondary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 10000px;
}

/* common */

.content {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.btn {
  width: fit-content;
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 25px;
  font-weight: 600;
  font-style: normal;
}
.btn:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1.title {
  color: var(--primary-color);
  font-family: Sen;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px; /* 117.241% */
  letter-spacing: -1.16px;
}

h2.title {
  color: var(--primary-color);
  font-family: Sen;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 117.241% */
  letter-spacing: -0.76px;
}
p.title {
  color: var(--primary-color);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}

.word-break-all {
  word-break: break-all;
}

a {
  text-decoration: none;
}

/* header  */

header.header {
  padding: 47px 0 14px;
  background-color: #fffcf4;
}

header.sticky {
  position: sticky;
  left: 0;
  top: -33px;
  z-index: 1;
}

header.header .btn-sign-up {
  padding: 11px 41px;
  line-height: 28px;
}

header.header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 49px;
}

header.header .nav .nav-item {
  padding: 0 21px;
}

header.header .nav .nav-item a {
  color: #5f5b53;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

header.header .nav .active a {
  position: relative;
  color: #171100;
  font-weight: 600;
}

header.header .nav .active a::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--primary-color);
  left: 0;
  bottom: 0;
}

/* hero  */

.hero {
  padding: 50px 0 65px;
  background-color: #fffcf4;
}

.hero .img-desc {
  width: 49%;
  height: 685px;
  position: relative;
}

.hero .img-desc img.img-block {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 470px;
  height: 685px;
  object-fit: cover;

  border-radius: 20px;
}

.hero .img-desc .desc-block {
  position: absolute;
  left: 300px;
  bottom: 48px;
  z-index: 1;
  background-color: #fff;
  padding: 24px 58px 24px 24px;
  border-radius: 12px;
}

.hero .img-desc .desc-block .desc-row {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.hero .img-desc .desc-block .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
}

.hero .img-desc .desc-block .desc-row:nth-child(2) .icon {
  background-color: #fcefff;
}

.hero .img-desc .desc-block .desc-row:nth-child(3) .icon {
  background-color: #ebeaff;
}

.hero .img-desc .desc-block .icon img {
  width: 24px;
  height: 24px;
}

.hero .img-desc .desc-block .desc-item p.desc {
  color: #5f5b53;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.hero .img-desc .desc-block .desc-item strong {
  color: #171100;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.hero .info {
  width: 51%;
  position: relative;
}

.hero .info .container {
  width: 470px;
  position: absolute;
  top: 64px;
  left: 130px;
}

.hero .info h1.title {
  color: #171100;
  font-family: Sen;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px; /* 117.241% */
  letter-spacing: -1.16px;
  margin-bottom: 22px;
}

.hero .info p.desc {
  color: #5f5b53;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.hero .info .row-btn {
  display: flex;
  flex-direction: row;
  margin-top: 38px;
  margin-bottom: 48px;
}
.hero .info .row-btn .btn {
  padding: 17px 34px;
  background-color: #ffb900;
  color: white;
  border-radius: 32px;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 37px;
}

.hero .info .row.play {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .info .row.play:hover {
  cursor: pointer;
}

.hero .info .row.play p.play {
  color: var(--primary-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.hero .info .number {
  margin-top: 8px;
}

.hero .info .number .row-studen {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-right: 28px;
}
.hero .info .number .row-course {
  display: flex;
  justify-content: center;
  align-items: end;
}

.hero .info .number .row strong {
  color: var(--primary-color);
  font-family: Sen;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 122.727% */
  margin-right: 14px;
}

.hero .info .number .row span {
  color: #5f5b53;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* popular  */

.popular {
  padding: 200px 0;
}

.popular .row-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .row-top p.desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.popular .row-top .chevron-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.popular .row-top .chevron-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  color: var(--secondary-color);
}

.popular .row-top .chevron-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: #fff;
}

.popular .row-bottom {
  margin-top: 55px;
  display: flex;
  flex: 1;
  gap: 30px;
}

.popular .row-bottom img {
  display: block;
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular .row-bottom .box {
  width: 100%;
}

.popular .row-bottom .text-box {
  border-radius: 0 0 12px 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .row-bottom .text-box {
  border-top: transparent;
  box-shadow: transparent;
}

.popular .row-bottom .box:hover .text-box {
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.popular .row-bottom .container {
  padding: 16px 22px 22px;
}

.popular .row-bottom .row-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .row-bottom p.title {
  padding-right: 6px;
}

.popular .row-bottom .box-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.popular .row-bottom .box-rating p {
  color: var(--secondary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.popular .row-bottom p.desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.popular .row-bottom .payment {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .row-bottom .payment p.price {
  color: var(--primary-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.popular .row-bottom .payment .btn {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 14px;
  line-height: 26px; /* 185.714% */
}

.popular .row-bottom .payment .btn:hover {
  background-color: var(--secondary-color);
}

/* feedback  */

.feedback {
  padding: 96px 0;
  background-color: #2e2100;
}

.feedback .info {
  width: 34%;
}

.feedback-1 {
  display: flex;
}

.feedback .info img.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .info p.name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 141.667% */
}

.feedback .info p.desc {
  color: #bfbcb2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.feedback .info .box-dot {
  margin-top: 28px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
}

.feedback .info .dot-item {
  width: 6px;
  height: 6px;
  background-color: #634700;
  border-radius: 50%;
}

.feedback .info .dot-item.active {
  background-color: #ffb900;
}

.feedback .quote {
  width: 66%;
}

.feedback .quote p.desc {
  margin-left: 30px;
  color: #fff;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px; /* 153.846% */
}

/* feature  */

.features {
  padding: 200px 0;
}

.feature-1 {
  display: flex;
}

.feature-1 .box-img {
  width: 48%;
  height: 438px;
  display: flex;
  gap: 30px;
}

.feature-1 .box-img img.version-1 {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.feature-1 .box-img img.version-1:first-child {
  margin-top: 33px;
}

.feature-1 .info {
  width: 52%;
  height: 438px;
  padding-left: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .info p.desc {
  margin-top: 16px;
  color: #5f5b53;
  line-height: 28px; /* 175% */
}

.features .info a.btn {
  margin-top: 32px;
  display: block;
  padding: 11px 37px;
  background-color: var(--secondary-color);
  border-radius: 26px;
  line-height: 28px;
}

/* feature 2 */
.feature-2 {
  margin-top: 200px;
  display: flex;
}

.feature-2 .info {
  width: 49%;
}

.features .info a.btn {
  display: block;
}

.feature-2 .box-img {
  width: 51%;
}

.feature-2 .box-img img.version-2 {
  display: block;
  margin-left: auto;
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
}
